version: '2'

services:
  redis:
      image: 'redis'
      ports:
        - '6379:6379'
      volumes:
        - ./docker-redis:/data
  niceoppai_notify:
      image: 'zier/niceoppai_notify'
      ports:
        - '8080:8080'
      links:
        - redis
